<h3>Add a new tweet:</h3>
<form action="/tweets" method="post">
    <div>
      <label for="content">Content:</label>
      <input type="text" name="content">
    </div>

    <div>
      <input class="btn btn-primary" type="submit">
    </div>
</form>
